**1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**

(*) --> operator </br>
('hello') --> expression\ 
(-87.8) --> expression\
(-) --> operator\
(/) --> operator\
(+) --> operator\
6 --> expression\

**2. What is the difference between string and variable?**

A variable is used to store value of data types. Data is stored in memory. Declaring a variable is not possible in python.Whenever you assign value to variable,at that time variable is created. String is one of data types available in python. A string is used to store text. String value is stored in variable.

In [2]:
# In below example we have created variable called "full_name" which is storing string data type.
full_name  = "Peter Parker"

**3. Describe three different data types.**

##### 1. Numeric Types

Numeric Types are used to store the numeric value.There are three types of Numeric data types which are follow

In [3]:
# 1) Int Type: In the below example we store the "Integer" value in "age" variable 
age = 34
type(age)

int

In [4]:
# 2) Float Type: In the below example we store "Float" value in "height" variable
height = 170.5
type(height)

float

In [5]:
# 3) Complex Type:In the below example we store "Complex" number value in "a" variable.
# "3" is real part and "2" is imaginary part of complex number
a = 3 + 2j
type(a)

complex

##### 2. Text Type

Python have only one text type, which is "string". It's used to store text value.The text value is surrounded
by single quotation or double quotation

In [6]:
# Single quotation string
name = 'Bruce'

In [7]:
# Double quotation string
name = "Bruce"

We can also have multiline string. In multiline string we enclose text in three single quotes or three double quotes

In [8]:
# Three single quotes multiline string
intro = '''  
    Hello, My name Peter Parker and
    I am spider man
'''

In [9]:
# Three double quotes multiline string
intro = """  
    Hello, My name Peter Parker and
    I am spider man
"""

##### 3. Boolean Type

Boolean Type contains two value.The two value are "True" and "False".

In [10]:
# True value
isGood = True

In [11]:
# False value
isBad=False

Any value is evaluated to True if it contains some value.Empty values are falsy value.{},(),[],0,"",None are falsy value.

**4. What is an expression made up of? What do all expressions do?**

A valid combination of variable,literal,identifier,operators,operands etc which produce a value are called Expressions. In other words it's piece of code which produce value.

The types of expression are follow-:

1. Logical expressions.
2. Relational expressions.
3. String expressions.
4. Arithmetic expressions.

1. Relational Expression -: In these kinds of expressions,the resulting value is either "True" or "False".Few example of Relational expression are given below.

In [20]:
a = 10
b = 5

print(a > b)
print(a < b)
print(a >= 10)
print(a < 5)
print(b != 10)

True
False
True
False
True

2. **Logical Expression** -: In these kind of expressions logical operators are present.The three logical operators are "and","or" and "not".The example of Logical Expression are given below

In [13]:
a = 10
b = 5
c = 8

print(a > b and c>8)
print(a < b or a > c)
print(not b != 10)

False
True
False

3. **String Expression** -: In these kind of operation string are present.Few example of string expressions are given below

In [14]:
first_name = "Peter"
last_name = "Parker"

# string concatenation
print(first_name + last_name)
print(first_name * 3)

PeterParker
PeterPeterPeter

4. **Arithmetic Expressions** -: It's combination of operators and numeric values. Numeric value is operands

In [15]:
a = 10
b = 5

sum = a + b
print(sum)

sub = a - b
print(sub)

prod = a * b
print(prod)

div = a/b
print(div)

15
5
50
2.0

**5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

An expression is combination of literal,operator,operands etc.An expression is piece of code which produce value.A statement is combination of expression.An statement doesn't produce value.

In [21]:
# It's statement which assign integer value "10" to spam variable
spam = 10

**6. After running the following code, what does the variable bacon contain?**

bacon = 22<br/>
bacon + 1

In [16]:
bacon = 22
bacon+1
print(bacon)

22

After running above code, the value of bacon will be 22 because we are not assigning new value of (bacon+1) to bacon variable.In the below code it's shown how to increment the value of bacon.

In [17]:
bacon = 22
bacon = bacon + 1
print(bacon)

23

**7. What should the values of the following two terms be?**

'spam' + 'spamspam' </br>

'span' * 3

In [18]:
# The below expression is string concatenation . It's will join the first string ans second string
a = 'spam' + 'spamspam'
print(a)

spamspamspam

In [19]:
#The below expression will extend the string three times
b = 'spam' * 3
print(b)

spamspamspam

**8. Why is eggs a valid variable name while 100 is invalid?**

Ans. There are rules which we need to follow while naming the variable names in python. A variable can only contains alpha numeric character and underscore( _ ). The name cannot start with number because python interpreter will get confused whether name is variable name or numeric datatype.The "eggs" is legal variable name as it satisfy the condition.The "100" will be treated as numeric value instead of variable name. So we can't create variable of name "100".

**9. What three functions can be used to get the integer, floating-point number, or string
version of a value?**

The int(),float() and str() will get integer , floating point number and string version of value respectively.

In [25]:
string_integer = "10"
integer = 10

print(int(string_integer))
print(float(string_integer))

print(str(integer))

10
10.0
10

**10. Why does this expression cause an error? How can you fix it? </br>
'I have eaten' + 99 + 'burritos.'**

The expression cause error because you can't concatenate string and integers. The are different data type.

In [27]:
# In order to concatenate,first you have to convert integer value to string value
a = 'I have eaten ' + str(99) + ' burritos.'
print(a)

I have eaten 99 burritos.